doctype html
html(ng-app='mainApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title web-arduino
    link(rel='stylesheet', href='/build/main.css')
    link(rel='apple-touch-icon', href='/assets/favicon.png')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/socket.io/socket.io.js')

    script(src='/js/codemirror/lib/codemirror.js')
    link(rel='stylesheet', href='/js/codemirror/lib/codemirror.css')
    script(src='/js/codemirror/mode/javascript/javascript.js')

    script(src='/js/main.js')

  body(ng-controller='mainController')

    header
      h1
        a(href='https://github.com/richard92m/web-arduino') web-arduino
      button#resetBoardButton reset

    main
      div#script
        div.controls
          input#scriptFileChooser(type='file')
          a#saveScriptButton(href='#', download='script.wajs') save
          button#runScriptButton run
          button#stopScriptButton stop
          button#inputButton in
          button#outputButton out

        div#inputText
        textarea#outputText(style='display:none;')

      div#digitalPins.pinSet
        div.pin.digital(ng-repeat='pin in boardType.digitalPins')
          meta(name='pinNum', content="{{pin}}")
          h3 [{{pin}}]

          div.controls
            p.button.modeToggleButton.out out
            p.button.valueToggleButton.low low

            span.pwm(ng-if='isPWMPin(pin)')
              input.button.pwmSlider(type='range', min='0', max='255', step='1', value='0', disabled)

        .clear

      div#analogPins.pinSet
        div.pin.analog(ng-repeat='pin in boardType.analogPins')
          meta(name='pinNum', content="{{pin}}")
          h3 [A{{pin - boardType.digitalPins.length}}]

          div.controls
            p.button.modeToggleButton.analog analog
            p.button.valueToggleButton.analog 0
            textarea.analogData
            input.pollValue(type='text')
            button.button.setPollButton Poll (ms)
            button.button.stopPollButton Stop

        .clear

