$font-stack: Monaco, 'Lucida Console', monospace

.clear
  clear: both

body
  background-color: #333
  color: #0ff
  font-family: $font-stack
  font-size: medium

button, textarea
  font-family: $font-stack

input:disabled
  opacity: 0.5

header
  margin-bottom: 3em

  h1 a
    color: #0c0
    text-decoration: none

  #boardSelection
    position: absolute
    right: 1em
    top: 1em

main
  width: 1000px
  margin: auto

.pinSet
  clear: both
  margin-bottom: 2em

.pin
  float: left
  margin-right: 1%
  margin-bottom: 1%
  background-color: #666
  border: 1px solid #0a0

  &.digital
    width: 13%
    height: 10em


  &.analog
    width: 15.4%
    height: 15em

    textarea
      width: 95%
      height: 5em

  h3
    padding: .1em
    margin: 0
    background-color: #000
    color: #bbb
    font-size: .8em

  .controls
    margin: .2em

  input
    width: 95%

  .modeToggleButton
    text-transform: uppercase
  .out
    color: #f00
  .in
    color: #0f0
  .analog
    color: #fff
  .pwm
    color: #00f

  .valueToggleButton
    text-transform: uppercase
  .low
    color: #f00
  .high
    color: #0f0
  .numValue
    color: #fff

